html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app,
#map {
  height: 100%;
}

#product-selector {
  position: absolute;
  top: 10%;
  left: 1%;
  height: 5%;
  max-width: 80%;
  background-color: white;
  border-width: 2px;
  border-style: solid;
  overflow-x: hidden;
}

#select-huttunen {
  display: block;
}
