name: Create docker images and deploy
run-name: Create docker images and deploy
on: push
env:
  KAYTTAJA: ${{ vars.HUTTUSTUTKA_KAYTTAJA }}
  REPON_SIJAINTI: ${{ vars.HUTTUSTUTKA_KANSIO }}
  HT_DOMAIN: ${{ vars.HUTTUSTUTKA_DOMAIN }}
  API_URL: ${{ vars.HUTTUSTUTKA_API_URL }}
  REPO_URL: ${{ github.server_url }}${{ github.repository }}
jobs:
  create-images-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - run: mkdir ~/.ssh
      - run: echo "${{ secrets.HUTTUSTUTKA_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
      - run: sudo chmod 600 ~/.ssh/id_ed25519
      - run: ssh-keyscan -H $HT_DOMAIN > ~/.ssh/known_hosts
      - run: ssh $KAYTTAJA@$HT_DOMAIN "rm -rf $REPON_SIJAINTI"
      - run: ssh $KAYTTAJA@$HT_DOMAIN "git clone $REPO_URL $REPON_SIJAINTI"
      - run: ssh $KAYTTAJA@$HT_DOMAIN "cd $REPON_SIJAINTI/front/; echo \"VITE_GOOGLE_API_KEY=${{ secrets.GMAPS_API_KEY }}\nVITE_API_URL=$API_URL\" >> .env.production"
      - run: ssh $KAYTTAJA@$HT_DOMAIN "cd $REPON_SIJAINTI; ./rakenna.sh -b huttustutka-back -f huttustutka-front"
      - run: ssh $KAYTTAJA@$HT_DOMAIN "cd $REPON_SIJAINTI; ./aja.sh -b huttustutka-back -f huttustutka-front"
      - run: ssh $KAYTTAJA@$HT_DOMAIN "docker image prune -a -f"
